{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Rejoignez le programme d’affiliation taslite</h1>

        <p>Devenez affilié Taslite.fr et rejoignez les partenaires privilégiés de la marque !</p>
        <p>Pourquoi devenir affilié avec Taslite ?</p>

        <p>Comment ça marche ?</p>
        <p>– Postulez à notre programme après vous être inscrit sur la plateforme d’affiliation ;</p>
        <p>– Nous étudions et validons votre candidature ;</p>
        <p>– Choisissez vos bannières et vos liens, insérez-les sur votre site ;</p>
        <p>– Gagnez de l’argent à chaque vente générée par vos internautes !</p>

        <p>S’inscrire au programme d’affiliation de Taslite</p>
        <p>Rendez-vous sur Affilae.com pour devenir l’un de nos affiliés !</p>

    </div>

{% endblock %}