{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Contactez-nous</h1>
        <p>Des questions sur Taslite.fr ? Besoin de contacter le Service après-vente ? De pièces détachées ?</p>
           <p> Contactez-nous par téléphone au 01 82 02 89 15</p>
    </div>

{% endblock %}