{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Conditions générales d’utilisation du site internet</h1>
        <p>Préambule</p>
        <p>Les présentes Conditions Générales d’Utilisation ont pour objet de définir les modalités et conditions dans lesquelles :</p>

        <p>– L’OMNICUISEUR VITALITE met à la disposition des personnes physiques (ci-après dénommées l’ « Utilisateur ») le site internet hébergé à l’adresse www.omnicuiseur.com (ci-après dénommé le « Site Internet ») et les services associés au Site Internet ;</p>

        <p>– l’Utilisateur accède au Site Internet et utilise ses services.</p>

        <p>Toute connexion au Site Internet est subordonnée au respect des présentes Conditions Générales d’Utilisation, sans réserve aucune.</p>

        <p>1. Définitions</p>
        <p>Dans les présentes Conditions Générales d’Utilisation, les termes et expressions commençant par une majuscule auront la signification suivante :</p>

        <p>– « Client » désigne toute personne physique majeure effectuant sur le Site Internet l’achat d’un ou plusieurs Produits proposés par L’OMNICUISEUR VITALITE à des fins n’entrant pas dans le cadre de son activité professionnelle, et ayant par conséquent la qualité de consommateur.</p>

        <p>– « Compte Client » désigne le compte créé par un Utilisateur en vue d’effectuer l’achat d’un ou plusieurs Produits sur le Site Internet, tel que décrit dans l’article 4 des présentes.</p>

        <p>– « Conditions Générales d’Utilisation » désigne les présentes conditions générales d’utilisation du Site Internet, applicables à tout Utilisateur.</p>

        <p>- « Conditions Générales de Vente » désigne les conditions générales de vente applicables aux relations entre L’OMNICUISEUR VITALITE et le Client.</p>

        <p>– « L’OMNICUISEUR VITALITE » désigne la société L’OMNICUISEUR VITALITE, société à responsabilité limitée, au capital de 10 000 euros, dont le siège social est situé 8-10 rue de Fionie, Centre d’affaires Bérangerais, 44240 La Chapelle-sur-Erdre, immatriculée au registre du commerce et des sociétés de Nantes sous le numéro 438 735 664.</p>

        <p>– « Produits » désigne les produits proposés à la vente sur le Site Internet par L’OMNICUISEUR VITALITE, tels que présentés sur le Site Internet et décrits à l’article 3 des présentes.  « Site Internet » désigne le site internet hébergé à l’adresse suivante : www.omnicuiseur.com.</p>

        <p>– « Utilisateur » désigne toute personne s’inscrivant et/ou naviguant sur le Site Internet.</p>

        <p>2. Acceptation des Conditions Générales d’Utilisation</p>
        <p>Le simple accès par l’Utilisateur au Site Internet à l’adresse URL suivante : www.omnicuiseur.com emporte acceptation de l’ensemble des présentes Conditions Générales d’Utilisation, ce que l’Utilisateur reconnaît expressément.</p>

        <p>3. Objet du Site Internet et présentation des Produits</p>
        <p>L’OMNICUISEUR VITALITE propose à la vente, par l’intermédiaire du Site Internet, à titre principal, un appareil de cuisson basse température, disponible sous deux modèles différents :</p>

        <p>(i) L’Omnicuiseur Vitalité 4000, pour une à deux personnes, d’une puissance de 200 à 800 watts ;</p>

        <p>(ii) L’Omnicuiseur Vitalité 6000, pour deux à six personnes (avec une option possible pour dix personnes), d’une puissance de 450 à 1.800 watts.</p>

        <p>L’OMNICUISEUR VITALITE propose également toute une gamme d’accessoires afférents aux Produits susvisés.</p>

        <p>Les Produits proposés par L’OMNICUISEUR VITALITE font l’objet d’une présentation et d’une description spécifique sur le Site Internet.</p>

        <p>L’achat par le Client d’un Produit proposé par L’OMNICUISEUR VITALITE sur le Site Internet emporte l’acceptation pleine et entière des Conditions Générales de Vente et des Conditions Générales d’Utilisation du Site Internet. Le prix correspondant à chaque Produit est précisé sur le Site Internet.</p>

        <p>4. Création d’un Compte Client</p>
        <p>Pour pouvoir effectuer une commande de Produits, l’Utilisateur doit créer un Compte Client en fournissant des informations personnelles. L’Utilisateur est seul responsable de la confidentialité des informations renseignées ainsi que de son identifiant et du mot de passe qu’il a fournis lors de la création de son Compte Client. Il s’engage à prendre toute mesure nécessaire afin d’assurer la confidentialité de son identifiant et de son mot de passe.</p>

        <p>5. Publication d’avis sur les Produits</p>
        <p>L’Utilisateur ayant effectué l’achat d’un Produit proposé par L’OMNICUISEUR VITALITE, sur le Site Internet ou en d’autres lieux de vente, peut demander la publication de son avis sur ledit Produit sur la page dédiée du Site Internet.

        Les données à caractère personnel recueillies à ce titre auprès de l’Utilisateur sont nécessaires à la validation de l’avis par L’OMNICUISEUR VITALITE, ce que l’Utilisateur reconnaît et accepte expressément. L’Utilisateur peut cependant choisir le prénom ou pseudo sous lequel il souhaite que son avis soit publié, afin de préserver son anonymat.

        La publication d’un avis sur le Site Internet fait l’objet d’une modération par L’OMNICUISEUR VITALITE qui se réserve le droit de refuser la publication d’un avis ou de supprimer tout avis publié notamment lorsque l’avis est irrespectueux, injurieux, diffamatoire, sans lien avec les Produits, ou vise à créer la polémique ou à faire de la publicité détournée pour un site tiers.
        </p>
        <p>6. Inscription sur la liste d’opposition au démarchage téléphonique</p>
        <p>L’OMNICUISEUR VITALITE peut être amené à recueillir des données téléphoniques auprès de l’Utilisateur.
        Conformément au Code de la consommation, L’OMNICUISEUR VITALITE informe l’Utilisateur que celui-ci peut s’inscrire à tout moment sur la liste d’opposition au démarchage téléphonique.
        </p>
        <p>7. Propriété intellectuelle</p>
        <p>La structure générale du Site Internet, ainsi que les textes, questionnaires, graphiques, images, sons et vidéos la composant, sont la propriété exclusive de L’OMNICUISEUR VITALITE ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le Site Internet, par quelque procédé que ce soit, sans l’autorisation préalable et par écrit de L’OMNICUISEUR VITALITE et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens du Code de la propriété intellectuelle.
        Les marques « OMNICUISEUR » et « OMNICUISEUR VITALITE » sont des marques déposées par L’OMNICUISEUR VITALITE. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.
        </p>
        <p>8. Données personnelles – Informatique et Libertés</p>
        Une simple consultation du Site Internet n’entraîne pas d’enregistrement de données à caractère personnel. En revanche, l’Utilisateur qui, sur le Site Internet, crée un Compte Client, remplit et transmet le formulaire de contact ou demande la publication d’un avis sur les Produits, autorise expressément le traitement par L’OMNICUISEUR VITALITE des données nominatives qu’il lui communique à ce titre, dans la limite de l’objet du présent Site Internet.

        Le Site Internet est enregistré sous le numéro 1409512 auprès de la Commission Nationale Informatique et Libertés (CNIL) en application de la loi n°78-17 du 6 janvier 1978, telle que modifiée, relative à l’informatique, aux fichiers et aux libertés. Chaque Utilisateur ayant déposé des informations nominatives le concernant sur le Site Internet dispose des droits d’opposition (article 38 de la loi), d’accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) de ces données. Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou l’utilisation, la communication ou la conservation est interdite. L’exercice de ces droits se fera en écrivant à l’adresse suivante : info@omnicuiseur.com ou L’OMNICUISEUR VITALITE, 8-10 rue de Fionie, Centre d’affaires Bérangerais, 44240 La Chapelle-sur-Erdre.

        L’OMNICUISEUR VITALITE recourt à des mesures techniques de sécurité appropriées, pour protéger les données à caractère personnel collectées et en assurer la confidentialité dans le respect des règles légales en vigueur.

        L’Utilisateur qui crée un Compte Client reconnaît et accepte qu’il sera tenu de fournir les informations nécessaires pour accéder au Site Internet et aux services proposés et permettre leur bon fonctionnement, ce qui suppose une mise à jour des informations données, le cas échéant.

        9. Responsabilité de L’OMNICUISEUR VITALITE
        Les informations et/ou documents figurant sur le Site Internet et/ou accessibles par le Site Internet proviennent de sources considérées comme étant fiables. Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques. L’OMNICUISEUR VITALITE se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance. L’OMNICUISEUR VITALITE décline toute responsabilité quant à l’actualité, l’exhaustivité ou la qualité des informations ou données proposées sur ce Site Internet.

        Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur le Site Internet.

        Les informations et/ou documents disponibles sur le Site Internet sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’Utilisateur en prend connaissance.

        L’utilisation des informations et/ou documents disponibles sur le Site Internet se fait sous l’entière et seule responsabilité de l’Utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que la responsabilité de L’OMNICUISEUR VITALITE puisse être recherchée à ce titre, et sans recours contre cette dernière. L’OMNICUISEUR VITALITE ne saurait en aucun cas être tenue pour responsable des dommages matériels ou immatériels causés par le téléchargement, le partage, l’interprétation et d’une manière plus générale l’utilisation des informations publiées sur le Site Internet ou des services proposés.

        La responsabilité de L’OMNICUISEUR VITALITE à raison d’un préjudice résultant de l’utilisation d’un service assuré par une entité tierce est expressément exclue.

        Par ailleurs, L’OMNICUISEUR VITALITE est exonérée de toute responsabilité en cas de dommages subis à raison notamment de la perte, de la détérioration ou de l’altération de fichiers, de la transmission de virus qui pourraient infecter l’équipement informatique de l’Utilisateur ou tout autre bien à l’occasion de la connexion et/ou de la consultation et/ou de l’utilisation du Site Internet.

        L’OMNICUISEUR VITALITE n’est pas responsable du dysfonctionnement du Site Internet ou des services proposés dès lors que celui-ci est dû à une mauvaise utilisation de l’Utilisateur, celui-ci pouvant même se voir interdire l’accès au Site Internet, de manière provisoire ou définitive, en cas de nonrespect des Conditions Générales d’Utilisation ou des Conditions Générales de Vente.

        Enfin, L’OMNICUISEUR VITALITE n’est pas responsable du contenu des blogs, forums et autres pages web de sites internet qui incluraient un lien hypertexte vers le Site Internet.

        10. Règles d’usage d’Internet
        L’Utilisateur déclare accepter les caractéristiques et les limites d’internet, et reconnaît notamment que :

        (i) L’OMNICUISEUR VITALITE n’assume aucune responsabilité sur les services accessibles par internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur ;

        (ii) les données circulant sur internet ne sont pas protégées notamment contre les détournements éventuels. La présence du nom L’OMNICUISEUR VITALITE institue une présomption simple de validité. La communication de toute information jugée par l’Utilisateur de nature sensible ou confidentielle se fait à ses risques et périls ;

        (iii) les données circulant sur internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété ;

        (iv) l’Utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet ;

        (v) L’OMNICUISEUR VITALITE ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet ;

        (vi) la présence de virus ou de tout autre programme malveillant peut infecter son terminal, ce qui constitue un risque accepté par l’Utilisateur qui s’interdit par conséquent de rechercher la responsabilité de L’OMNICUISEUR VITALITE et/ou de ses ayants-droits et/ou de ses partenaires commerciaux pour tout dommage, quel qu’il soit, qu’il pourrait subir.

        11. Accès au Site Internet
        L’OMNICUISEUR VITALITE s’efforce de permettre l’accès au Site Internet 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de L’OMNICUISEUR VITALITE, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du Site Internet et des services proposés.

        Par conséquent, L’OMNICUISEUR VITALITE ne peut garantir une disponibilité du Site Internet et/ou des services, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’Utilisateur que ce soit par des moyens électronique ou téléphonique.

        La responsabilité de L’OMNICUISEUR VITALITE ne saurait être engagée en cas d’impossibilité d’accès au Site Internet et/ou d’utilisation des services.

        Par ailleurs, L’OMNICUISEUR VITALITE peut être amenée à interrompre le Site Internet ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités des Utilisateurs. L’Utilisateur reconnaît et accepte que L’OMNICUISEUR VITALITE n’est pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’Utilisateur ou tout tiers.

        12. Liens hypertextes
        Le Site Internet peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le Site Internet.

        Il est possible de créer un lien vers la page de présentation du Site Internet sans autorisation expresse de L’OMNICUISEUR VITALITE. Il convient toutefois d’afficher le Site Internet dans une nouvelle fenêtre du navigateur. L’OMNICUISEUR VITALITE se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du Site Internet.

        13. Cookies
        13.1. Définition
        Un cookie est un petit fichier enregistré sur l’ordinateur de l’Utilisateur lorsqu’il consulte les pages du Site Internet. Ce cookie contient un « User ID ». Ce « User ID » est un numéro codé unique qui ne contient que des données anonymes et permet d’identifier les pages consultées sur le Site Internet au cours de la navigation de l’Utilisateur.

        13.2. Information préalable et recueil du consentement
        Lors de la consultation du Site Internet, des informations relatives à la navigation du terminal de l’Utilisateur sur le Site Internet sont susceptibles d’être enregistrées dans des fichiers « Cookies » installés sur le terminal de l’Utilisateur et des cookies déjà stockés sur le terminal de l’Utilisateur peuvent être lus. Aux fins de ce qui précède, et conformément aux dispositions légales et réglementaires, l’Utilisateur doit donner son consentement préalable sauf si ces actions sont strictement nécessaires pour la fourniture d’un service de communication en ligne à la demande expresse de l’Utilisateur. L’Utilisateur est ainsi informé, lors de l’accès au Site Internet, par l’apparition d’un bandeau : (i) des finalités des cookies utilisés, (ii) de la possibilité pour lui de s’opposer à ces cookies et de modifier les paramètres des traceurs, et (iii) du fait que la poursuite de sa navigation vaut accord au dépôt de cookies sur son terminal.

        14. Identification de L’OMNICUISEUR VITALITE et mentions légales
        L’OMNICUISEUR VITALITE a pour activité principale la commercialisation d’appareils de cuisson destinés à un usage domestique ainsi que les accessoires y afférents.

        L’OMNICUISEUR VITALITE est une société à responsabilité limitée, au capital de 10 000 euros, dont le siège social est situé 8-10 rue de Fionie, Centre d’affaires Bérangerais, 44240 La Chapelle-sur-Erdre, immatriculée au registre du commerce et des sociétés de Nantes sous le numéro 438 735 664.

        Gérant : Hervé MELEDO

        Adresse de correspondance : adresse du siège social susvisée

        Adresse de courrier électronique : info@omnicuiseur.com

        N° de TVA intracommunautaire : FR36 438 735 664

        Directeur de publication : Hervé MELEDO

        L’hébergement du Site Internet est assuré par la société OCEANET, 2 impasse Joséphine Baker, 44800 ST HERBLAIN, RCS NANTES 408 893 063, Tél 02.28.03.78.78. Toute réclamation concernant l’utilisation du Site Internet, les présentes Conditions Générales d’Utilisation ainsi que le signalement de contenus inappropriés ou illégaux pourra être adressé à l’adresse électronique suivante : info@omnicuiseur.com.

        15. Dispositions générales
        15.1. Modification des Conditions Générales d’Utilisation
        L’OMNICUISEUR VITALITE se réserve le droit de modifier, à tout moment et sans préavis, les Conditions Générales d’Utilisation, afin notamment de les adapter aux évolutions du Site Internet et/ou de son exploitation et/ou de la législation.

        15.2. Nullité et interprétation des clauses
        Si une ou plusieurs stipulations des Conditions Générales d’Utilisation étaient tenues pour non valides ou déclarées comme telles en application d’une loi ou à la suite d’une décision définitive d’une juridiction compétente, les autres stipulations conserveront leur force obligatoire.

        Le fait que L’OMNICUISEUR VITALITE ne se prévale pas à un moment donné de l’une des stipulations des Conditions Générales d’Utilisation ne peut être interprété comme valant renonciation à se prévaloir ultérieurement de celle-ci.

        Par ailleurs, et en application de l’article 1189 du Code civil, toutes les clauses contenues dans ce document s’interprètent les unes par rapport aux autres en donnant à chacune le sens qui résulte de l’acte entier. Par conséquent, l’Utilisateur ne saurait se prévaloir d’une clause ou de l’interprétation qu’il semble devoir comprendre de l’une d’elles pour s’abstenir d’exécuter, de quelque manière que ce soit, les obligations auxquelles il est assujetti au titre des présentes.

        15.3. Droit applicable
        Tant le Site Internet, rédigé en langue française, que les modalités et conditions de son utilisation et les Conditions Générales d’Utilisation sont régis par le droit français, quel que soit le lieu d’utilisation ou de connexion. Tout litige susceptible de s’élever à propos de la formation, de l’exécution ou de l’interprétation des présentes sera soumis aux tribunaux dans les conditions de droit commun. Pour toute question relative aux Conditions Générales d’Utilisation du Site Internet, l’Utilisateur peut écrire à l’adresse électronique suivante : info@omnicuiseur.com.
    </div>

{% endblock %}