{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Conditions générales de vente</h1>
        1. Définitions
        Les termes et expressions utilisés dans les présentes Conditions Générales de Vente avec une majuscule auront le sens suivant :
        <ul>
            <li>– « Client » désigne toute personne physique majeure effectuant, sur le Site Internet, l’achat d’un ou plusieurs Produits proposés par L’OMNICUISEUR VITALITE à des fins n’entrant pas dans le cadre de son activité professionnelle, et ayant par conséquent la qualité de consommateur.</li>
            <li>– « Client Emprunteur » désigne le Client recourant à un crédit affecté tel que défini à l’Article 6.</li>
            <li>– « Conditions Générales de Vente » désigne les présentes conditions générales de vente, applicables aux relations entre L’OMNICUISEUR VITALITE et le Client.</li>
            <li>- « Compte Client » désigne le compte créé par un Utilisateur en vue d’effectuer l’achat d’un ou plusieurs Produits sur le Site Internet, tel que décrit dans l’article 4 des Conditions Générales d’Utilisation.</li>
            <li>– « Conditions Particulières » désigne les conditions particulières conclues entre L’OMNICUISEUR VITALITE et le Client et ayant pour objet de compléter les présentes Conditions Générales de Vente, en précisant notamment la nature et la quantité des Produits fournis au Client ainsi que les conditions tarifaires. Les Conditions Particulières sont matérialisées par la page récapitulative de la commande du Client, telle que celle-ci est confirmée par le Client au moment où il valide son paiement.</li>
            <li>– « Contrat » désigne ensemble les Conditions Générales de Vente et les Conditions Particulières. La conclusion du Contrat est matérialisée par la confirmation des Conditions Particulières par le Client, emportant son adhésion entière et sans réserve aux Conditions Générales de Vente.</li>
            <li>- « L’OMNICUISEUR VITALITE » désigne la société L’OMNICUISEUR VITALITE, société à responsabilité limitée, au capital de 10 000 euros, dont le siège social est situé 8-10 rue de Fionie, Centre d’affaires Bérangerais, 44240 La Chapelle-sur-Erdre, immatriculée au registre du commerce et des sociétés de Nantes sous le numéro 438 735 664.</li>
            <li>– « Produits » désigne les produits proposés à la vente sur le Site Internet par L’OMNICUISEUR VITALITE, tels que décrits à l’article 3.1 des présentes. Le détail des Produits fournis par L’OMNICUISEUR VITALITE au Client est précisé dans les Conditions Particulières.</li>
            <li>– « Site Internet » désigne le site internet hébergé à l’adresse suivante : www.omnicuiseur.com.</li>
            <li>–  « TVA » désigne la taxe sur la valeur ajoutée française.</li>
            <li>– « Utilisateur » désigne toute personne s’inscrivant et/ou naviguant sur le Site Internet.</li>
        </ul>

        <p>2. Acceptation des Conditions Générales de Vente
        Les Conditions Générales de Vente déterminent les conditions contractuelles applicables aux relations entre L’OMNICUISEUR VITALITE et le Client et sont exclusivement réservées aux personnes physiques ayant la qualité de consommateurs au sens du Code de la consommation.
        </p>
       <p>Le Client déclare avoir la capacité de conclure le Contrat.
        Le Client est tenu de lire attentivement les Conditions Générales de Vente avant d’effectuer l’achat d’un Produit sur le Site Internet. Ces Conditions Générales de Vente contiennent des informations importantes sur les droits et obligations du Client, ainsi que sur les limitations et exclusions de responsabilité de L’OMNICUISEUR VITALITE.
        En effectuant l’achat d’un Produit sur le Site Internet, le Client confirme son adhésion entière et sans réserve aux Conditions Générales de Vente, ce qui est expressément reconnu par le Client, qui renonce, en particulier, à se prévaloir de tout autre document qui serait inopposable à L’OMNICUISEUR VITALITE. Si le Client n’accepte pas les Conditions Générales de Vente, il est prié de ne pas recourir aux Produits proposés par L’OMNICUISEUR VITALITE.
       </p>
     <p>3. Produits</p>
       <p>3.1. Définition des Produits</p>
        <p>L’OMNICUISEUR VITALITE propose sur le Site Internet, à titre principal, un appareil de cuisson basse température, disponible sous deux modèles différents :

        (i) L’Omnicuiseur Vitalité 4000, pour une à deux personnes, d’une puissance de 200 à 800 watts ;

        (ii) L’Omnicuiseur Vitalité 6000, pour deux à six personnes (avec une option possible pour dix personnes), d’une puissance de 450 à 1.800 watts.

        L’OMNICUISEUR VITALITE propose également toute une gamme d’accessoires afférents aux Produits susvisés.

        Les Produits proposés par L’OMNICUISEUR VITALITE font l’objet d’une présentation et d’une description spécifique sur le Site Internet.
        </p>
     <p>3.2. Prix des Produits</p>
        <p>Les Produits sont proposés aux prix affichés sur le Site Internet au jour de la validation de la commande par le Client.

        Les prix sont en euros, entendus toutes taxes comprises, dont la TVA, hors frais [de traitement et] de livraison le cas échéant ou tout autre frais supplémentaire éventuel, tels que spécifié dans le récapitulatif de la commande du Client. Tout changement du taux de TVA pourra être répercuté sur le prix des Produits.

        L’OMNICUISEUR VITALITE se réserve le droit de modifier à tout moment les prix affichés sur le Site Internet.
        </p>
       <p>3.3. Disponibilité des Produits</p>
       <p>La disponibilité d’un Produit est mentionnée sur la fiche descriptive correspondante, sur le Site Internet.</p>

       <p>3.4. Durée de disponibilité des pièces détachées</p>
       <p>Les pièces détachées nécessaires à l’utilisation des Produits sont disponibles pendant une période de vingt (20) ans à compter de la date d’achat, à l’exception des cocottes de cuisson.</p>

       <p>4. Commande</p>
       <p>L’Utilisateur qui souhaite commander un Produit sur le Site Internet doit suivre les étapes suivantes :</p>

        <p>(i) Sélectionner chaque Produit ainsi que la quantité souhaitée et l’ajouter au panier ;

        (ii) Valider le contenu du panier lorsque tous les Produits souhaités ont été sélectionnés ;

        (iii) Si l’Utilisateur ne l’a pas fait préalablement, créer un Compte Client, ou s’identifier au moyen de son Compte Client ;

        (iv) Choisir le mode de livraison, les frais afférents à chaque mode de livraison étant affichés sur le Site Internet ;

        (v) Vérifier le détail de la commande et la corriger le cas échéant ;

        (vi) Choisir le mode de paiement et confirmer l’acceptation entière et sans réserve des Conditions Générales de Vente en vigueur au jour de la commande ;

        (vii) Vérifier toutes les informations figurant sur la page récapitulative de la commande, avant de valider le paiement, et confirmer ainsi la commande avec obligation de paiement.

        L’Utilisateur est invité à soigneusement vérifier, avant d’effectuer une commande de Produits, que ceux-ci correspondent bien à ses besoins.

        L’OMNICUISEUR VITALITE ne pourra être tenue pour responsable des manquements du Client dans la détermination de ses besoins ou des erreurs du Client dans le processus de commande.

        Aucune demande de modification ultérieure d’une commande passée par un Client ne pourra être prise en compte par L’OMNICUISEUR VITALITE.
        </p>
     <p>5. Conditions financières</p>
     <p>5.1. Montant à payer</p>
        <p>Le montant à payer par le Client est celui figurant sur la page récapitulative de sa commande avant qu’il ne valide son paiement.

        Il comprend notamment le prix en euros toutes taxes comprises des Produits commandés, les frais [de traitement et] de livraison de la commande, [le coût éventuel de l’assurance facultative], ainsi que tous autres frais supplémentaires, notamment ceux liés à la souscription d’une garantie particulière.

        Le montant à payer relatif à une commande donnée est exigible en totalité au moment où le Client valide sa commande, sans préjudice des dispositions de l’Article 6 relatif à la faculté pour le Client de recourir à un crédit affecté. Il est payable en euros. Les frais éventuels de change avec la devise du Client sont à la charge exclusive de ce dernier.

        5.2. Modalités de paiement
        Sans préjudice des dispositions de l’Article 6, le paiement du prix des Produits s’effectue, aux choix du Client, par (i) carte bancaire (Visa, Mastercard, Carte bleue), (ii) virement bancaire, ou (iii) chèque bancaire émis par une banque domiciliée en France métropolitaine.

        Afin d’éviter tout risque de paiement frauduleux, L’OMNICUISEUR VITALITE se réserve la faculté de demander au Client toute pièce justifiant son identité.

        Paiement par chèque bancaire

        A défaut de réception du chèque de règlement dans les cinq (5) jours ouvrés suivant la date de la commande, L’OMNICUISEUR VITALITE se réserve le droit d’annuler la commande. Le chèque sera alors retourné au Client dès réception.

        L’encaissement est effectué à réception du chèque. Le paiement du Client sera validé au jour de l’inscription du montant du règlement sur le compte bancaire de L’OMNICUISEUR VITALITE.

        5.3. Sécurisation des transactions
        Afin de protéger les données sensibles liées aux moyens de paiement, le Site Internet fait l’objet d’un protocole de sécurisation des échanges SSL (« Secure Socket Layer »). L’OMNICUISEUR VITALITE utilise le service de paiement sécurisé Monético paiement de la société Euro Information filiale du Groupe CM-CIC.

        L’OMNICUISEUR VITALITE n’a pas accès aux données sensibles liées aux moyens de paiement renseignées par le Client.
        </p>
        <p>5.4. Réserve de propriété</p>
        <p>Les Produits vendus au Client restent la propriété exclusive de L’OMNICUISEUR VITALITE jusqu’au complet paiement par le Client du prix total desdits Produits, en principal et en accessoire. Les paiements effectués par le Client ne seront considérés comme définitifs qu’après encaissement effectif par L’OMNICUISEUR VITALITE des sommes dues. Ne constitue pas un paiement au titre de cet article, la remise d’un titre créant une obligation de payer.
        Nonobstant ce qui précède, les risques de perte et d’endommagement des Produits sont transférés au Client à compter de leur remise au Client par L’OMNICUISEUR VITALITE.
        En cas de défaut de paiement à l’échéance par le Client, L’OMNICUISEUR VITALITE pourra exercer son droit de reprise sur les Produits en possession du Client. La restitution des Produits appartenant à L’OMNICUISEUR VITALITE se fera aux risques et périls du Client. En cas de revente des Produits par le Client, la revendication de L’OMNICUISEUR VITALITE pourra s’exercer sur le prix perçu par le Client. Le Client s’engage à informer les personnes auxquelles il revendrait les Produits de l’existence de ladite clause de réserve de propriété et du droit de L’OMNICUISEUR VITALITE de revendiquer, si nécessaire, les Produits entre leurs mains.
        </p>
        <p>6. Conclusion du Contrat avec offre de crédit affecté</p>
        <p>Un contrat de crédit affecté est un crédit à la consommation servant exclusivement à financer un contrat relatif à la fourniture de biens particuliers ou à la prestation de services particuliers, tel que cela est défini à l’article L 311-1, 11° du Code de la consommation.

        Les Conditions Particulières spécifient si le paiement du prix des Produits est acquitté par le Client en tout ou partie à l’aide d’un crédit affecté et précisent les conditions applicables audit crédit.

        Conformément aux articles L 312-44 et suivants du Code de la consommation, lorsque la conclusion du Contrat s’accompagne d’une offre de crédit affecté acceptée par le Client :

        (i) Le Client Emprunteur dispose d’un droit de rétractation pour le crédit affecté servant à financer son achat, qu’il peut exercer dans un délai de quatorze (14) jours calendaires révolus à compter de l’acceptation par le Client de l’offre de crédit affecté ;

        (ii) Le Contrat est résolu de plein droit sans indemnité :

        – si le Client Emprunteur exerce son droit de rétractation relatif au crédit affecté, dans les conditions visées au (i) ci-dessus, ou

        – si l’organisme prêteur n’a pas informé L’OMNICUISEUR VITALITE de l’attribution du crédit, dans un délai de sept (7) jours à compter de l’acceptation du contrat de crédit par le Client Emprunteur ;

        (iii) En cas de résolution du Contrat telle que visée au (ii) cidessus, L’OMNICUISEUR VITALITE remboursera, sur simple demande, toute somme que le Client aurait versée d’avance sur le prix des Produits.

        En conséquence, la commande du Client Emprunteur ne sera traitée par L’OMNICUISEUR VITALITE qu’après acceptation de la demande de financement et l’expiration du délai de rétractation susvisé.

        L’exercice du droit de rétractation visé dans cet Article 6 est exclusivement lié au recours par le Client à un crédit affecté. En l’absence de crédit affecté, le Client dispose néanmoins du droit de rétractation visé à l’Article 10.
        </p>
        <p>7. Traitement de la commande</p>
        <p>Après paiement par le Client ou, le cas échéant après l’expiration du délai de rétractation afférent au crédit affecté visé à l’Article 6, celui-ci recevra dans les plus brefs délais un courrier électronique confirmant la validation de son paiement et l’enregistrement de sa commande et rappelant les détails de sa commande. Ce courrier électronique comportera un formulaire-type de rétractation tel que celui figurant en Annexe 1.

        La commande n’est considérée définitive qu’à la date de ce courrier électronique.

        Le Client sera par ailleurs informé par courrier électronique de l’expédition des Produits commandés. Le Client a la possibilité de suivre l’évolution de sa commande au moyen de son Compte Client.

        Sauf preuve contraire, les données enregistrées dans le système informatique de L’OMNICUISEUR VITALITE constituent la preuve de l’ensemble des transactions conclues avec le Client. Pour un paiement effectué en carte bancaire, les données enregistrées par le système de paiement constituent la preuve des transactions financières conclues avec le Client.

        Annulation ou refus d’une commande par L’OMNICUISEUR VITALITE

        L’OMNICUISEUR VITALITE se réserve le droit de refuser ou d’annuler la commande d’un Client pour tout motif légitime, notamment en cas de saisie incorrecte des données liées au paiement, de rejet du mode de paiement utilisé, de non-réception par L’OMNICUISEUR VITALITE dans les délais requis du chèque bancaire de règlement et/ou des renseignements complémentaires demandés pour valider le paiement du Client.

        Le Client devra supporter tous les coûts éventuels nécessaires à la résolution du problème, notamment en cas de refus de paiement de son établissement bancaire.
        </p>
        <p>8. Livraison</p>
        <p>8.1. Modalités de livraison</p>
        <p>L’OMNICUISEUR VITALITE livre les Produits en France métropolitaine.

        Pour une livraison hors de France métropolitaine, le Client devra contacter le Service Clientèle, préalablement à l’achat d’un Produit sur le Site Internet, afin de vérifier si une livraison est possible et selon quelles modalités.

        L’expédition des Produits ne peut intervenir qu’après validation par L’OMNICUISEUR VITALITE du règlement du montant total de la commande, ou le cas échéant après l’expiration du délai de rétractation afférent au contrat de crédit affecté visé à l’Article 6.

        Le Client devra supporter tout coût de réexpédition lié à une erreur de sa part dans l’adresse de livraison renseignée.

        En cas d’absence du destinataire lors de la livraison, le transporteur déposera un avis de passage à l’adresse de livraison renseignée par le Client. Le Client devra alors convenir d’un nouveau rendez-vous avec le transporteur ou retirer les Produits, à l’adresse et selon les modalités indiquées par le transporteur.

        En cas d’absence de retrait par le Client dans le délai communiqué par le transporteur, les Produits seront retournés à L’OMNICUISEUR VITALITE, qui se réserve le droit de rembourser au Client les frais [de traitement et] de livraison. Toute demande du Client ayant pour objet la réexpédition des Produits sera à la charge exclusive de ce dernier.
        </p>
        <p>8.2. Délais de livraison</p>
        <p>Le délai de livraison est indiqué sur la fiche descriptive de chaque Produit. Il s’agit d’un délai moyen estimé correspondant à une livraison en France métropolitaine.

        Ce délai court à compter de la validation de la commande par L’OMNICUISEUR VITALITE telle que visée à l’Article 7.

        En cas de recours du Client à un crédit affecté visé à l’Article 6 :

        (i) Les Produits commandés feront l’objet d’une livraison après l’expiration du délai de rétractation de quatorze (14) jours visé à l’Article 6 ;

        (ii) En conséquence, le délai de livraison court à compter de l’expiration du délai susvisé de quatorze (14) jours.

        En cas de dépassement du délai communiqué au Client, L’OMNICUISEUR VITALITE s’engage à en informer celui-ci dès que possible par courrier électronique.

        Le Client pourra prétendre au remboursement des sommes versées au titre de sa commande uniquement dans les conditions cumulatives suivantes :

        (i) L’OMNICUISEUR VITALITE n’a pas respecté le délai visé cidessus ; et

        (ii) Le Client, par lettre recommandée avec avis de réception ou tout autre support durable, a vainement enjoint L’OMNICUISEUR VITALITE de livrer le Produit commandé dans un délai supplémentaire raisonnable.

        Le cas échéant, le Client pourra dénoncer le contrat de vente auprès de L’OMNICUISEUR VITALITE, par lettre recommandée avec avis de réception ou tout autre support durable. Sauf à s’être exécuté avant réception de la lettre de dénonciation, L’OMNICUISEUR VITALITE procèdera au remboursement de toutes les sommes versées par le Client au titre de la commande en cause, au plus tard dans les quatorze (14) jours suivant la date de réception de la lettre de dénonciation du Client.

        En toute hypothèse, L’OMNICUISEUR VITALITE ne pourra être tenue responsable du non-respect des délais de livraison dû à un cas de force majeure.
        </p>
        <p>8.3. Participation aux frais [de traitement et] de livraison</p>
        <p>[Une participation aux frais de traitement de la commande peut être mise à la charge du Client pour chaque commande.]
        Les frais de livraison varient en fonction du poids des Produits à livrer et du lieu de livraison. Ces frais sont indiqués sur le Site Internet au moment du choix du mode de livraison par le Client.

        La participation aux frais [de traitement et] de livraison due par le Client est indiquée sur la page récapitulative de la commande avant validation du paiement par le Client.

        8.4. Risques liés au transport
        Les risques de perte et d’endommagement des Produits sont transférés au Client au moment où ce dernier, ou un tiers désigné par lui, en prend physiquement possession.

        Il appartient au Client, ou au tiers désigné par lui, de vérifier l’état et le contenu des colis reçus en présence du transporteur.

        En cas de dommages constatés sur le colis ou les Produits, et afin de préserver les droits de L’OMNICUISEUR VITALITE à l’égard du transporteur, le Client doit refuser le colis en indiquant la mention « Refusé : Produit endommagé » sur le récépissé de livraison. Si le Client accepte néanmoins le colis, il doit émettre, sur le récépissé de livraison, toutes les réserves nécessaires en indiquant les dommages constatés sur les Produits. Le Client doit en informer L’OMNICUISEUR VITALITE dans les meilleurs délais par courrier électronique.

        Tout colis accepté par le Client sans réserve émise sur le récépissé de livraison du transporteur sera réputé avoir été livré en bon état et dans son intégralité, sans préjudice des garanties légales visées à l’Article 11 dont bénéficie le Client.
        </p>
        <p>9. Obligations et responsabilité du Client</p>
        <p>Le Client est chargé de définir avec précision ses besoins avant d’effectuer l’achat de Produits proposés par L’OMNICUISEUR VITALITE sur le Site Internet. L’OMNICUISEUR VITALITE ne pourra être tenue pour responsable d’une mauvaise identification par le Client de ses besoins ou de ses contraintes.

        Le Client s’engage à :

        (i) Utiliser les Produits à des fins non professionnelles et dans des conditions conformes à l’utilisation et la performance prévues, aux recommandations expresses de L’OMNICUISEUR VITALITE, aux instructions du fabricant et aux obligations légales et réglementaires ;

        (ii) Entretenir les Produits selon les recommandations expresses de L’OMNICUISEUR VITALITE et les instructions du fabricant le cas échéant ;

        (iii) Informer immédiatement L’OMNICUISEUR VITALITE en cas de dysfonctionnement des Produits.

        L’OMNICUISEUR VITALITE ne pourra en aucun cas être tenue responsable de tout préjudice ou dommage résultant d’un manquement du Client au titre de ce qui précède.
        </p>
        <p>10. Droit de rétractation</p>
        <p>10.1. Modalités d’exercice du droit de rétractation</p>
        <p>Conformément aux dispositions du Code de la consommation, et sans préjudice du droit de rétractation lié au recours par le Client d’un crédit affecté tel que visé à l’Article 6, le Client bénéficie d’un droit de rétractation, en vertu duquel il peut décider de renoncer à son engagement d’achat de Produits, sans avoir à justifier de motifs ni à payer de pénalité, aux fins d’échange ou de remboursement.

        Le Client doit exercer son droit de rétractation dans un délai de quatorze (14) jours calendaires suivant la date de réception du Produit par le Client ou du tiers désigné par lui. Dans le cas d’une commande comportant plusieurs Produits livrés séparément, le délai court à compter du jour de la réception, par le Client ou le tiers désigné, du dernier Produit de la commande.

        Avant l’expiration de ce délai, le Client doit informer L’OMNICUISEUR VITALITE de son intention d’exercer son droit de rétractation : (i) soit par le formulaire de rétractation, disponible en Annexe 1 et transmis au Client dans le courrier électronique confirmant l’enregistrement de la commande, (ii) soit par une déclaration dénuée d’ambiguïté par laquelle le Client indique exercer son droit de rétractation.

        Le formulaire de rétractation ou la déclaration du Client, selon le cas, doit être transmis à L’OMNICUISEUR VITALITE, (i) soit à l’adresse électronique : info@omnicuiseur.com, (ii) soit par voie postale à l’adresse figurant à l’Article 1 des présentes.

        L’OMNICUISEUR VITALITE accusera réception de la demande du Client.
        </p>
        <p>10.2. Modalités de retour des Produits dans le cadre de l’exercice du droit de rétractation</p>
        <p>Le Client ayant exercé son droit de rétractation tel que visé à l’Article 10.1 doit retourner le Produit, au plus tard dans les quatorze (14) jours suivant la communication de sa décision de se rétracter, à L’OMNICUISEUR VITALITE à l’adresse figurant à l’Article 1 des présentes.

        Le Produit faisant l’objet d’un retour doit être retourné dans son emballage d’origine, à l’état neuf et en parfait état de revente, dans son intégralité (emballage, accessoires, notices, etc.) et accompagné de la facture.

        Les frais de retour des Produits sont à la charge exclusive du Client.
        </p>
        <p>10.3. Echange ou remboursement</p>
        <p>Dans le cadre de l’exercice de son droit de rétractation tel que visé à l’Article 10.1, le Client peut, au choix, demander (i) le remplacement du Produit ou (ii) le remboursement des sommes versées.

        Dans le cas d’une demande de remboursement, L’OMNICUISEUR VITALITE rembourse au Client les sommes versées par celui-ci lors de la commande, incluant notamment les frais de livraison, à l’exclusion des frais supplémentaires éventuels liés au choix d’un mode de livraison plus coûteux que le mode de livraison standard proposé par L’OMNICUISEUR VITALITE. Les frais liés au retour du Produit restent à la charge du Client.

        En cas d’exercice du droit de rétractation sur une partie seulement des Produits reçus, les frais de livraison sont remboursés au prorata du poids des Produits retournés. Si les frais de livraison ont été calculés de manière forfaitaire, ils ne sont pas remboursés au Client.

        Le remboursement interviendra dans les meilleurs délais et au plus tard à la date de réception par L’OMNICUISEUR VITALITE du Produit retourné ou de la réception par L’OMNICUISEUR VITALITE de la preuve de l’expédition du Produit par le Client, la date retenue étant celle du premier de ces faits.

        L’OMNICUISEUR VITALITE procédera au remboursement en utilisant le même moyen de paiement que celui utilisé par le Client pour la transaction initiale, sauf autre moyen de paiement expressément convenu entre les parties.
        </p>
        <p>11. Garanties légales</p>
        <p>Les principales dispositions relatives aux garanties légales sont reproduites en Annexe 2.</p>

        <p>11.1. Garantie légale de conformité</p>
        <p>Tout Client bénéficie de la garantie légale de conformité en vertu des articles 1604 et suivants du Code civil et des articles L 217-4 à L 217-13 du Code de la consommation.

        Lorsqu’il agit en garantie légale de conformité, le Client :

        (i) Bénéficie d’un délai de deux (2) ans à compter de la réception du Produit ;

        (ii) Peut choisir entre la réparation ou le remplacement du Produit, sous réserve du coût disproportionné de la solution retenue par le Client ;

        (iii) Est dispensé de rapporter la preuve de l’existence du défaut de conformité du Produit durant les vingt-quatre (24) mois suivant la réception du Produit, ou six (6) mois pour un produit d’occasion.

        La garantie légale de conformité s’applique, pour le Client, indépendamment de la garantie commerciale éventuellement consentie.

        Le Client peut décider de mettre en œuvre la garantie contre les défauts cachés du Produit vendu prévue par l’article 1641 du Code civil.

        La garantie légale de conformité dont bénéficie le Client ne s’applique pas en cas de mauvaise utilisation, d’utilisation à des fins professionnelles, de négligence ou défaut d’entretien de la part du Client, d’usure normale du Produit ainsi que pour les consommables.

        Lorsque la réparation et le remplacement sont impossibles, L’OMNICUISEUR VITALITE procède, au choix du Client, (i) soit au remboursement du prix payé par le Client contre restitution du Produit, (ii) soit à une réduction du prix payé et conservation du Produit par le Client.

        En toute hypothèse, seule une réduction de prix peut être proposée au Client si le défaut de conformité est mineur.

        L’exercice de ce droit par le Client a lieu sans frais pour ce dernier, selon les modalités de retour des Produits décrites à l’Article 11.3.
        </p>
        <p>11.2. Garantie des vices cachés</p>
        <p>Conformément aux articles 1641 à 1649 du Code civil, tout Client bénéficie, pour les Produits achetés auprès de L’OMNICUISEUR VITALITE, d’une action en garantie contre les vices cachés, qui peut être exercée dans le délai de deux (2) ans suivant le jour où le Client a eu connaissance du vice.
        Au titre de cette garantie, L’OMNICUISEUR VITALITE procèdera, au choix du Client, (i) soit au remboursement du prix payé par le Client contre restitution du Produit, (ii) soit à une réduction du prix payé et conservation du Produit par le Client.
        </p>
        <p>11.3. Modalités de retour des Produits dans le cadre de l’exercice d’une garantie légale</p>
        <p>Le Client souhaitant retourner un Produit, dans le cadre de l’exercice d’une garantie légale, doit préalablement en informer L’OMNICUISEUR VITALITE (i) par courrier électronique à : info@omnicuiseur.com, ou (ii) par voie postale à l’adresse figurant à l’Article 1 des présentes.
        L’OMNICUISEUR VITALITE accusera réception de la demande du Client et lui communiquera les instructions nécessaires au retour du Produit.
        Le remboursement des Produits jugés non conformes ou défectueux sera effectué dans les meilleurs délais. Les frais de retour seront remboursés sur présentation des justificatifs.
        </p>
        <p>12. Garantie commerciale</p>
        <p>Sans préjudice des garanties légales visées à l’Article 11, L’OMNICUISEUR VITALITE garantit le Client contre tout défaut de matière ou vice de fabrication affectant les Produits pendant une durée de dix (10) ans à compter de la date d’achat, à l’exclusion des cas suivants :

        (i) Toute négligence ou faute du Client, notamment le manquement du Client aux obligations visées à l’Article 9, tel que le non-respect des temps de cuisson, l’utilisation non conforme ayant engendré des chocs thermiques ou un bris de la cocotte en verre ;

        (ii) L’endommagement accidentel par le Client ou par un tiers ;

        (iii) L’usure normale des Produits ;

        (iv) Les défauts dus à des circonstances extérieures.

        Afin de faire valoir ses droits à la garantie contractuelle, le Client devra, sous peine de déchéance de toute action s’y rapportant, informer L’OMNICUISEUR VITALITE par écrit de l’existence des défauts dans un délai maximum de vingt (20) jours à compter de leur découverte.

        L’OMNICUISEUR VITALITE s’engage à ce titre à procéder à la réparation ou au remplacement du Produit ou de la pièce défectueuse à l’exclusion de toute indemnisation ou reprise du Produit contre remboursement. Sous réserve du respect des conditions de garantie exposées dans cet Article 12, la réparation ou le remplacement du Produit ou de la pièce défectueuse sont réalisés par L’OMNICUISEUR VITALITE sans aucun frais pour le Client.
        </p>
        <p>13. Inscription sur la liste d’opposition au démarchage téléphonique</p>
        <p>L’OMNICUISEUR VITALITE peut être amené à recueillir des données téléphoniques auprès de l’Utilisateur. Conformément au Code de la consommation, L’OMNICUISEUR VITALITE informe l’Utilisateur que celui-ci peut s’inscrire à tout moment sur la liste d’opposition au démarchage téléphonique.
        </p>
        <p>14. Informatique et libertés</p>
        <p>Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, telle que modifiée, L’OMNICUISEUR VITALITE met en œuvre un traitement de données à caractère personnel ayant pour finalité la gestion des commandes de Produits. Les informations qui sont demandées au Client sont nécessaires au traitement des commandes, ce que le Client reconnaît et accepte expressément.
        </p>
        <p>15. Propriété intellectuelle</p>
        <p>Les droits de propriété intellectuelle attachés aux Produits, incluant notamment les marques, dessins, plans, modèles et brevets, sont la propriété exclusive de L’OMNICUISEUR VITALITE ou de ses partenaires. Aucune licence d’utilisation n’est consentie au Client au titre des présentes Conditions Générales de Vente.
        </p>
        <p>16. Dispositions générales</p>
        <p>16.1. Non validité partielle</p>
        <p>La nullité d’une clause contractuelle n’entraîne pas la nullité des Conditions Générales de Vente, à l’exception de celle d’une clause impulsive et déterminante ayant amené l’une des parties à contracter.
        </p>
        <p>16.2. Modification des Conditions Générales de Vente</p>
        <p>L’OMNICUISEUR VITALITE se réserve la faculté de modifier les Conditions Générales de Vente à tout moment. Par conséquent, les Conditions Générales de Vente applicables sont celles en vigueur à la date de la commande par le Client.
        </p>
        <p>16.3. Médiation – Droit applicable – Juridiction</p>
        <p>Les Conditions Générales de Vente sont soumises au droit français. Pour toute contestation liée à la conclusion ou l’exécution du Contrat, le Client doit, préalablement à toute autre démarche, se rapprocher de L’OMNICUISEUR VITALITE en vue de rechercher une solution amiable. Le Client peut adresser une réclamation écrite (i) par courrier électronique à : info@omnicuiseur.com, ou (ii) par voie postale à l’adresse figurant à l’Article 1 des présentes.

        A défaut de solution amiable, le Client est informé qu’il peut, en vertu du Code de la consommation, recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, dont les coordonnées figurent ci-après, ou à tout mode alternatif de règlement des différends en cas de contestation.

        [Médiation Professionnelle 24 rue Albert de Mun 33000 BORDEAUX
        06.50.30.59.66 http://mediation-service.fr]

        Conformément à l’article 14 du règlement (UE) n° 524/2013 du Parlement européen et du Conseil du 21 mai 2013 relatif au règlement en ligne des litiges de consommation et modifiant le règlement (CEE) n° 2006/2004 et la directive n° 2009/22/CE, ledit Client est également informé de l’existence d’une plateforme de règlement en ligne des litiges (« RLL ») entre consommateurs et professionnels accessible à l’adresse suivante : http://ec.europa.eu/odr.

        Sans préjudice de ce qui précède, tout litige susceptible de s’élever à propos de la formation, de l’exécution ou de l’interprétation du présent Contrat sera soumis aux tribunaux dans les conditions de droit commun.

        Annexe 1 Modèle de formulaire de rétractation visé à l’Article 10.1
        (Le présent formulaire doit être complété et renvoyé uniquement si le Client souhaite se rétracter de la commande passée)
        </p>
        <p>A l’attention de :</p>

        <p>L’OMNICUISEUR VITALITE</p>

        <p>8-10 rue de Fionie</p>

        <p>Centre d’affaires Bérangerais</p>

        <p>44240 La Chapelle-sur-Erdre</p>

        <p>info@omnicuiseur.com</p>

        <p>Je vous notifie par la présente ma rétractation du contrat portant sur la vente des produits ci-dessous :</p>

        <p>– Commande du (Date) / Reçue le (Date)</p>

        <p>– Numéro de la commande : …………………………………………………..</p>

        <p>– Nom du Client : …………………………………………………………………</p>

        <p>– Adresse du Client : ……………………………………………………………..</p>

        <p>Signature du Client (uniquement en cas de notification du présent formulaire sur papier) :</p>

        <p>Date :</p>

        <p>Annexe 2 Dispositions relatives aux garanties légales</p>
        <p>Article L217-4 du Code de la consommation</p>

        <p>Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.

        Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.

        Article L217-5 du Code de la consommation
        </p>
        <p>Le bien est conforme au contrat :</p>

        <p>1° S’il est propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :</p>

        <p>– s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle ;</p>

        <p>– s’il présente les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ;</p>

        <p>2° Ou s’il présente les caractéristiques définies d’un commun accord par les parties ou est propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.</p>

        <p>Article L217-12 du Code de la consommation
        L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.
        Article L217-16 du Code de la consommation
        Lorsque l’acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l’acquisition ou de la réparation d’un bien meuble, une remise en état couverte par la garantie, toute période d’immobilisation d’au moins sept jours vient s’ajouter à la durée de la garantie qui restait à courir.
        Cette période court à compter de la demande d’intervention de l’acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d’intervention.
        </p>
        <p>Article 1641 du Code civil</p>

        <p>Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.</p>
        <p>Article 1648 alinéa 1er du Code civil</p>
        <p>L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice.</p>

    </div>

{% endblock %}