{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Garanties</h1>
        <p>L’Omnicuiseur Vitalité est garanti pour une durée de 10 ans, sauf stipulation contraire pour tout défaut de matière ou vice de fabrication, sans préjudice de l’application des articles 1641 et suivants du Code Civil relatif à la garantie légale des vices cachés.</p>

        <p> La garantie n’inclut pas l’usure normale ni les conséquences d’un traitement non approprié (non respect des temps de cuisson, chocs thermiques, bris de la cocotte en verre), ni l’endommagement accidentel par l’acheteur ou un tiers, ni les défauts dus à des circonstances extérieures. Les réparations seront exécutées par nos soins sans aucun frais dans le cadre de la garantie. Ces informations ne seront utilisées que par L’Omnicuiseur Vitalité.
            Elles pourront donner lieu à l’exercice du droit d’accès et de rectification dans les conditions prévues par la loi du 06/01/78.</p>
         <p>
           Coordonnées du service après-vente et livraison
           Contactez le service après-vente et livraison au 06 63 37 91 95.
        </p>
    </div>

{% endblock %}