{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <p> Vous vous intéressez à nos projets, à l'innovation et au challenge ?</p>

        <p>«Taslite.fr»  recrute pour prospections et animations dans votre région un ou une vendeur(se) confirmé(e) indépendant(e).</p>

        <p>Devenez vendeur(se) confirmé(e) indépendant(e)</p>
       <p> Rémunération attractive. Tous frais payés
            Formations gratuites et initiation prospection assurées.
           Envoyez CV + photo + lettre de motivation.</p>

        <p>Remplissez le formulaire ci-dessous pour nous faire parvenir votre demande !</p>
    </div>

{% endblock %}