{% extends 'base.html.twig' %}


{% block body %}

    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box ">
                    <div class="heading-section">
                        <h1>Energie. Aqualast porté par la houle</h1>
                        <p class="text-justify">Aqualast a breveté une machine houlomotrice capable de résister aux tempêtes. L'entreprise morbihannaise cherche aujourd’hui un financement pour mettre au point un démonstrateur numérique. À moyen terme, ce train de barges pourrait alimenter 500 foyers et même accueillir une station-service d’hydrogène.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <figure class="text-center"><img width="1100" height="700" src="{{ asset('images/energie.jpg') }}"></figure>
            </div>
        </div>
    </div>

    <div id="fh5co-about-section">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center animate-box">
                    <div class="about-content">
                        <h2>Histoire</h2>
                        <p class="text-justify">C’est dans un océan de verdure, dans la campagne de Plumelec (Morbihan), qu’Aqualast imagine les énergies renouvelables maritimes de demain. Créé en 2016 par l’architecte naval Stephan Vallet, le bureau d’études en ingénierie réalise l’essentiel de son chiffre d’affaires (100 000 €) grâce à la lasergrammétrie, une technique de laser-scanner 3D qui numérise au millimètre près, via un nuage de points de plusieurs dizaines de millions de mesures : un arbre, la façade d’un bâtiment, la coque d’un bâtiment, bref la numérisation du réel. Mais Stéphan Vallet voit plus loin : « Cette activité nous permet d’investir dans les énergies renouvelables maritimes, notamment l’énergie de la houle ». Aqualast est codétenteur, avec le Lyonnais Gilles Seurre, d’un brevet appliqué à une machine houlomotrice. « Il y a une grosse densité d’énergie dans la houle mais elle est difficile à dompter, dit Stephan Vallet. Si la mer brise les digues, elle casse aussi les machines. L’idée était donc de réaliser une machine plus résistante et plus durable ».
                        </p>
                    </div>
                </div>
            </div>

            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center animate-box">
                    <div class="about-content">
                        <h2>Un train de barges qui se comporte comme un navire</h2>
                        <p class="text-justify">Aqualast a commandé une étude de faisabilité à compte d’auteur. Elle cherche aujourd’hui un financement étagé de 60 000 à 200 000 € pour mettre au point un démonstrateur numérique qui ouvrirait la voie à une labellisation, puis aux subventions. Le brevet porte sur la manière de convertir l’énergie de la houle en énergie mécanique ou électrique. La machine ressemble à un train de barges. « L’énergie est convertie au niveau des articulations et stockée dans les barges. Un train de 100 m pourrait alimenter 500 foyers », estime Stephan Vallet. Il serait installé aux endroits où il y a des vagues.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center animate-box">
                    <div class="about-content">
                        <h2>Autres explication</h2>
                        <p class="text-justify">La force de l’invention baptisée Bi-Energy, c’est sa partie émergée : « le train de barges est au-dessus de l’eau. Seule la pointe des flotteurs est sous l’eau. Tous les systèmes houlomoteurs cassent car ils sont immergés ou semi-immergés. En cas de gros temps, ils ne peuvent pas se mettre à la cape ». Bi-Energy, lui, le peut : il se met en position d’auto-protection en offrant le moins de résistance possible à la mer et en modulant sa production d’énergie. « Le train de barges se comporte un peu comme un navire », dit Stephan Vallet.
                        </p>
                    </div>
                </div>
            </div>

            <p>source : <a href="https://www.letelegramme.fr/soir/plumelec-aqualast-parie-sur-l-energie-de-la-houle-28-06-2018-12010434.php" target="_blank">Energie. Aqualast porté par la houle</a></p>

            <div class="about-content">
                <h2 class="text-center">Vidéo</h2>
                <iframe width="1100" height="600" src="https://www.youtube.com/embed/jbFJXGicStU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

        </div>
    </div>


{% endblock %}
