<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="FREEHTML5.CO et Belhassen Bouchoucha" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="">
        {% block stylesheets %}
            {% include('Inc/style.html.twig') %}
        {% endblock %}
    </head>
    <body>
    <nav id="fh5co-main-nav" role="navigation">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
        <div class="js-fullheight fh5co-table">
            <div class="fh5co-table-cell js-fullheight">
                <ul>
                    <li><a href="{{ path('app_front_index') }}">Accueil</a></li>
                    <li><a href="">Website</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="fh5co-page">
        <header>
            <div class="container">
                <div class="fh5co-navbar-brand">
                    <h1 class="text-center"><a class="fh5co-logo" href="{{ path('app_front_index') }}">Taslite.fr</a></h1>
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}


        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="section-title">A propos de Taliste.fr</h3>
                            <p>Taslite est une start-up indépendante intégralement détenue par un associé unique. Devenue une marque déposée, la société se spécialise dans le Conseil en propriété intellectuelle.</p>
                        </div>

                        <div class="col-md-4 col-md-push-1">
                            <h3 class="section-title">Nos services</h3>
                            <ul>
                                <li><a href="" target="_blank">Contact</a></li>
                                <li><a href="{{ path('app_front_assistancetelephonique') }}" target="_blank">Assistance Téléphonique</a></li>
                                <li><a href="{{ path('app_front_rejoigneznous') }}" target="_blank">Devenir conseiller</a></li>
                                <li><a href="{{ path('app_front_garantie') }}" target="_blank">Garantie</a></li>
                                <li><a href="{{ path('app_front_press') }}" target="_blank">Press</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h3 class="section-title">Information</h3>
                            <ul>
                                <li><a href="{{ path('app_front_cgv') }}" target="_blank">CGV</a></li>
                                <li><a href="{{ path('app_front_cgu') }}" target="_blank">CGU</a></li>
                                <li><a href="{{ path('app_front_affilation') }}" target="_blank">Affilation</a></li>
                                <li><a href="{{ path('app_front_actualite') }}" target="_blank">Actualité</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row copy-right">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p class="fh5co-social-icon">
                                <a href="https://twitter.com/taslite_fr" target="_blank"><i class="icon-twitter2"></i></a>
                                <a href="https://www.facebook.com/taslitedebobigny/" target="_blank"><i class="icon-facebook2"></i></a>
                                <a href="https://www.instagram.com/taslite.fr/" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCICILHtlswQzuKuMcaI0fNw" target="_blank"><i class="icon-youtube"></i></a>
                            </p>
                            <p> 2019 Taslite.fr tous droits réservés &copy; </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
        {% block javascripts %}
            {% include('Inc/js.html.twig') %}
        {% endblock %}
    </body>
</html>
