{% extends 'base.html.twig' %}

{% block body %}

    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box text-center">
                    <h1 class="intro-heading">Marque déposée en Conseils en propriété intellectuelles.</h1>
                    <p><span><< Faire aujourd'hui que demain soit meilleur qu'hier >></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <img class="img-responsive" src="{{ asset('images/3.jpg') }}">

    </div>

</br>
    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box ">

                        <h2 class="taslite">Taslite.FR</h2>
                        <p class="text-justify">
                            Taslite est une start-up indépendante intégralement détenue par un associé unique. Devenue une marque déposée, la société se spécialise dans le Conseil en propriété intellectuelle. Nos bureaux se trouvent dans la ville de Paris, dans  le "plus grand incubateur de start-up au monde STATION F ( une ancienne gare SNCF reconvertie pour 250 millions d'euros )" fondé par Xavier Niel ( Patron de FREE ) . Notre équipe de 5 personnes passe son temps à imaginer et à développer Taslite pour créer, améliorer, soutenir et développer les produits de demain  . Et au travers de ce site internet nous voudrions vous embarquer dans notre univers que vous soyez un inventeur ou un particulier ...
                        </p>

            </div>

                <div class="col-md-6 col-md-offset-3 text-center animate-box ">
                        <h2>Nos services</h2>
                        <p class="text-justify">
                            Les Conseils en Propriété Industrielle fournissent essentiellement des prestations relatives à la préparation du dépôt, au dépôt et au suivi des procédures relatives aux titres de propriété industrielle (brevets, marques, dessins et modèles).Taslite va encore plus loin en accompagnant les créateurs de projets dans leurs aventures du dépôt de brevets jusqu'à la commercialisation du produit.
                        </p>
                </div>

            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="icon">
                            <span><i class="icon-documents"></i></span>
                        </div>
                        <h3>Responsive</h3>
                        <p class="text-justify">
                            En anglais un site, une application ou un outil informatique dont le code répond à des normes lui permettant d'être adapté à tous types de supports (PC, tablettes, mobiles). Ainsi la taille des objets (photographies, textes, éléments visuels...) s'adapte à la taille de l'écran où ils sont visibles. C'est un terme qualifiant précisément les ambitions  de Taslite qui envisage de s'adapter à tous les projets des créateurs peu importe le secteur d'activité visé.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="icon">
                            <span><i class="icon-browser"></i></span>
                        </div>
                        <h3>Vendre est un métier qui ne s'improvise pas</h3>
                        <p class="text-justify">
                            Prendre en compte les objectifs stratégiques du dépôt du brevet dès sa rédaction. Anticiper les difficultés de procédure et d'exploitation ... l'inventeur ( le créateur ) est compétent dans son domaine de prédilection mais pour ce qu'il en est de la vente il convient de rendre à César ce qui est à César. Que vous souhaitiez revendre votre brevet, le délivrer sous formes de licences voire l'exploiter vous-mêmes ... la fibre commerciale sera de vigueur.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="icon">
                            <span><i class="icon-toolbox"></i></span>
                        </div>
                        <h3>Accompagnement des droits exclusifs</h3>
                        <p class="text-justify">Accompagnement des droits exclusifs accordés sur des créations intellectuelles
                            La propriété intellectuelle est protégée par la loi, par exemple au moyen de brevets, de droits d'auteur et d'enregistrements de marques, qui permettent aux créateurs de tirer une reconnaissance ou un avantage financier de leurs inventions ou créations. Cependant un accompagnement en ces domaines est essentiel au risque d'y perdre pieds.
                        </p>
                    </div>
                </div>
            </div>
                <div class="espace30"></div>
                <div class="col-md-6 col-md-offset-3 text-center animate-box ">

                        <h2>Financement participatif !</h2>
                        <p class="text-justify">
                            A cela s'adresse directement à nos visiteurs curieux, intéressés voire impliqués qui deviendront des contributeurs à part entières à l'ensemble des projets visibles sur la plateforme.
                            Autrement dit la possibilité de soutenir des inventeurs afin d’obtenir des dons sans passer par des organismes financiers. Ces inventeurs vous le rendront bien en vous fournissant en exclusivité leurs premiers produits de production dès lors que cela leur sera possible.
                            Soutenir un inventeur ne se limite pas forcément au portefeuille, vous pourrez l'accompagner dans le suivi de ses démarches, le relayer sur vos réseaux sociaux préférés et voire même de les contacter en privée.
                        </p>
                    </div>

        </div>
    </div>
<div class="espace30"></div>
    <div id="fh5co-work-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box ">
                    <div class="heading-section">
                        <h2>Des projets créatifs qui voient le jour</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url({{ asset('images/energie.jpg') }});">
                        <a href="{{ path('app_front_project') }}" class="view">
                            <span>Energie. Aqualast porté par la houle</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/2.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/3.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/4.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="text-center view-button animate-box"><a href="#" class="btn btn-primary btn-outline btn-lg">Démarrer mon projet</a></p>
            </div>

        </div>
    </div>



    <div class="fh5co-counters" style="background-image: url(images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
        <div class="fh5co-narrow-content animate-box">
            <div class="row" >
                <div class="col-md-4 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">initiatives innovantes</span>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">collaborateurs indépendants</span>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="749" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">produits</span>
                </div>
            </div>
        </div>
    </div>



{% endblock %}