{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Introduction</th>
                <th>History</th>
                <th>Creation</th>
                <th>Explication</th>
                <th>Video</th>
                <th>IsFinish</th>
                <th>ExternalLinkLeetch</th>
                <th>ExternalLinkkickstarter</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.introduction }}</td>
                <td>{{ project.history }}</td>
                <td>{{ project.creation }}</td>
                <td>{{ project.explication }}</td>
                <td>{{ project.video }}</td>
                <td>{{ project.isFinish ? 'Yes' : 'No' }}</td>
                <td>{{ project.externalLinkLeetch }}</td>
                <td>{{ project.externalLinkkickstarter }}</td>
                <td>{{ project.price }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}