{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>{{ project.introduction }}</td>
            </tr>
            <tr>
                <th>History</th>
                <td>{{ project.history }}</td>
            </tr>
            <tr>
                <th>Creation</th>
                <td>{{ project.creation }}</td>
            </tr>
            <tr>
                <th>Explication</th>
                <td>{{ project.explication }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ project.video }}</td>
            </tr>
            <tr>
                <th>IsFinish</th>
                <td>{{ project.isFinish ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ExternalLinkLeetch</th>
                <td>{{ project.externalLinkLeetch }}</td>
            </tr>
            <tr>
                <th>ExternalLinkkickstarter</th>
                <td>{{ project.externalLinkkickstarter }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ project.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}