        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

        <!-- Animate.css -->
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

        <!-- Flexslider  -->
        <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">


        <!-- Modernizr JS -->
        <script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('sass/style.scss') }}">
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
